.heading{
   padding:10px;
   text-align:center;
   font-size:27px;
   line-height:0.85rem;
   padding-top:50px;
}

.services{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   padding:20px 40px 20px 40px;  
}

@media screen and (max-width:768px){
   .services{
      grid-template-columns: auto;
   }

   .img{
      display: none;
   }
}

.services>div{
   padding:10px;
}

.services>div:nth-child(1){
   line-height:0.85rem;
}

.services>div:nth-child(2){
   text-align: center;
}

.box_service{
   border:1px solid black;
   padding:40px 0px 0px 0px;
   background-color: #241f17;
   color:white;
}

.box_1{
   padding:40px 20px 20px 20px;
}

.box_2{
   padding:60px 80px 20px 80px;
   display:grid;
   grid-template-columns: repeat(2,1fr);
   gap:80px;
}

.buyers{
   background-image: url('https://www.absolute.ag/images/grwAbs2.png');
   background-repeat: no-repeat;
   background-size:cover;
   height:700px;
}

.growers{
   background-image: url('https://www.absolute.ag/images/buyer2.png');
   background-repeat: no-repeat;
   background-size:cover;
   height:700px;
}

.serve{
   position:relative;
   top:450px;
   left:30px;
}

.serve>p{
   color:white;
   font-weight:bold;
}

.serve>h3{
   color:white;
   font-weight:bold;
   font-size:40px;
   line-height:0.01rem;
}

.serve>button{
   width:230px;
   height:45px;
   background-color:black;
   color:white;
   padding:7px;
   font-size:20px;
}

.serve>button>a{
   text-decoration:none;
   color:white;
}

@media screen and (max-width:768px){
   .box_2{
      grid-template-columns: auto;
   }
}

.grower_form{
   border-radius:10px;
   width:500px;
   margin:auto;
   padding:20px;
   margin-top:40px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   margin-bottom:40px;
}

.grower_form>form>div{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom:10px;
   font-size:20px;
   font-weight:bold;
}

input[type='text'],input[type='number']{
   width:300px;
   height:40px;
   border:none;
   border-bottom:1px solid grey;
   outline:none;
}

.bttn{
   margin-top:10px;
   padding:10px;
   background-color: #241f17;
   border-radius:5px;
   width:180px;
   color:white;
   cursor:pointer;
   font-weight:bold;
}

.product_card{
   padding:30px;
   margin:10px 20px 0px 20px;
   display:grid;
   grid-template-columns:repeat(4,1fr);
   gap:40px;
}

.product_card>div{
   line-height:0.9rem;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   padding:20px;
}

.product_card>div>img{
   width:320px;
}

.cart{
   background-color:green;
   border:none;
   width:200px;
   height:35px;
   padding:7px;
   color:white;
   font-weight:bold;
   cursor:pointer;
}

.heading_1{
   text-align: center;
   text-transform: uppercase;
   margin-top:90px;
   font-size:28px;
   color:grey;
}

@media screen and (max-width:768px){
   .heading_1{
      font-size:18px;
   }
}

.empty{
   border:1px solid grey;
   width:80%;
   margin:auto;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.farm_product_image{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   gap:30px;
   margin:40px;
}

.farm_product_image>div{
   width:40%;
}

.images{
   width:100%;
   height:100%;
}

.vertical_farming{
   width:50%;
   margin:auto;
   font-size:25px;
   font-style: italic;
   text-align: justify;
   color:grey;
   margin-bottom:40px;
}

@media screen and (max-width:768px){
   .vertical_farming{
      width:60%;
      font-size:20px;
   }
}

@media screen and (max-width:380px){
   .vertical_farming{
      width:75%;
      font-size:16px;
   }
}

.farming_example{
   width:80%;
   margin:auto;
}

.farming_example>img{
   width:100%;
}